@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$btn-color: #8e97fd;
body {
  font-family: Poppins;
  margin: 0;
  background-color: #010101;
  color: #eee;
}
svg {
  width: 25px;
}
header {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
header .logo {
  font-weight: bold;
}
header .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

/* --------------------------------------------css slider */
.slider {
  height: 100vh;
  position: relative;
}
.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 40%, transparent);
}
.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2 {
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.3s 0.5s ease-in-out 1 forwards;
}
.slider .list .item.active h2 {
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3) {
  animation-duration: 1s;
}

.arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  width: 100%;
  z-index: 12;

  .click-btn {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
  }
  .btn-style {
    margin: 5px;
    $btn-color: $btn-color;
    $btn-hover-color: #dd6395;
    $offset: 0.3em;
    border-color: $btn-color;
    color: $btn-color;
    box-shadow: $offset $offset 0 $btn-hover-color;
    &:hover {
      box-shadow: (-$offset) (-$offset) 0 $btn-color;
      background-color: $btn-hover-color;
      border-color: $btn-hover-color;
      color: #fff;
    }
  }
  .btn-prev {
    margin-right: 50%;
  }
}

.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
}
.thumbnail::-webkit-scrollbar {
  width: 0;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.3s;
  flex-shrink: 0;
  cursor: pointer;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active {
  filter: brightness(1.5);
}
.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 60px;
  }
  .arrows {
    top: -10%;
  }
}
